div#header.fluid-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1.title {
  font-size: 45px;
}

h1, h4 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-weight: 300;
}


h3, h5 {
  text-align: left;
  font-family: 'Georgia', serif;
}

p {
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: #323232;
  line-height: 1.6;
}
